<template>
  <v-app>
    <v-app-bar
      app
      flat
      dense
      color="teal lighten-3"
    >
    <v-toolbar-title class="display-1 font-weight-black" style="color: white">Payzen</v-toolbar-title>
    <v-spacer></v-spacer>
    </v-app-bar>
    <v-content>
      <router-view default="{name: 'Init'}"/>
    </v-content>
  </v-app>
</template>

<script>


export default {
  name: 'App',

  components: {
  },

  data: () => ({
    drawer: true,
    items: [
          { title: 'Memberships', icon: 'dashboard' },
          { title: 'History', icon: 'account_box' },
        ],
  }),
};
</script>

